<div class="beer-info">
  <% beers.forEach(beer => { %>
  <div class="container">
    <div>
      <a href="/beers/<%= beer.id %>">
        <img alt="<%- beer.name %>" src="<%- beer.image_url %>" />
      </a>
    </div>
    <div>
      <a href="/beers/<%= beer.id %>">
        <h1><%- beer.name %></h1>
      </a>
      <h3><%- beer.tagline %></h3>
      <p><%- beer.description %></p>
    </div>
  </div>
  <% }) %>
</div>
